*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(to right, #215f00, #e4e4d9);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}
.container{
    background-color: rgba(255,255,255,.2);
    box-shadow: 0 6px 10px rgba(0,0,0,.3);
    padding: 30px;
    border-radius: 15px;
    width: 80%;
    margin: 10px;
    text-align: center;
}
.heading{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 36px;
    font-weight: bolder;
    /* text-shadow:  2px 1px; */
}
.quote{
    margin: 20px;
    font-size: 30px;
    font-weight: 600;
}
.author{
    font-size: 24px;
    margin-bottom: 10px;
    font-style: italic;
}
.btn{
    font-size: 18px;
    padding: 10px;
    border-radius: 25px;
    margin-top: 10px;
    background-color: rgba(255,255,255,.3);
    border-color: rgba(255,255,255,.6);
    text-transform: uppercase;
    width: 200px;
    transition: all 300ms ease-in-out ;
}
.btn:hover{
    background-color: rgba(255,255,255,.6);
    box-shadow: 0 4px 4px rgba(0,0,0,.3);
    color: green;
}